@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
  --primary: 59 130 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237;
    --primary: 96 165 250;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }

  body * {
    visibility: hidden;
  }

  #printableArea, #printableArea * {
    visibility: visible;
  }

  #printableArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
  }
  
  body {
    background-color: #fff !important;
  }
}